{% extends 'base.html' %}

{% block title %} Register {% endblock title %}

{% block main %}
<h1 class = "text-center">Register New Address</h1>

<form method = "post">
    {{ form.csrf_token }}
    <div class = "form-group">
        {{ form.name.label }}
        {{ form.name(class = 'form-control', placeholder = 'Enter Name') }}

        {{ form.phone_number.label }}
        {{ form.name(class = 'form-control', placeholder = 'Enter Phone Number') }}

        {{ form.address.label }}
        {{ form.name(class = 'form-control', placeholder = 'Enter Address') }}

        {{ form.submit(class='btn btn-primary w-100 mt-3') }}
    </div>
</form>

{% endblock main %}